<!DOCTYPE html>
<html>
    <head>
        <title>Page non trouvé</title>
        <meta charset="utf-8">
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="../../public/thème/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../../public/thème/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='../../https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='../../https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../../public/thème/css/clean-blog.min.css" rel="stylesheet">

    </head>
    
   <body style="background-image: url('../../public/thème/img/Dead_End.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div align="center" style="margin-top: -10%;">
            <br /><br /><br /><br /><br /><br />
            <h1 style="color: white; text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;">Vous vous  êtes trompé de route,<br/> la page n'existe pas</h1>
            <br /><br />

            <form method="POST" action="../../index.php">
                <input type="submit" class="btn" name="submit" value="revenez en arrière"/>
            </form>
        </div>  
    </body>
</html>


